body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* GLOBAL */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.button-cta {
    height: 38px;
    background: #e8491d;
    border: 0;
    padding: 0 20px;
    color: white;
}

.dark {
    padding: 15px;
    background: #35424a;
    color: white;
    margin: 10px 0;
}

* {
    box-sizing: border-box;
  }
  
  .item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    color: #FFF;
    font-size: 3em;
  }
  

/* END GLOBAL */


/* HEADER */
header {
    background: #35424a;
    color: #ffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;

}

header a{
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px ;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    display: inline;
    float: left;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight,
header .current a{
    color: #e8491d;
    font-weight: bold;
}

header  a:hover{
    color: #cccccc;
}
/* End HEADER */


/* SHOWCASE */
#showcase {
    min-height: 400px;
    background: url('../img/showcase.jpg') no-repeat 0 -800px;
    text-align: center;
    color: white;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}

/* END SHOWCASE */

/* NEWSLETTER */
#newsletter{
    padding: 15px;
    color: #ffff;
    background: #35424a;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 20px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* BOXES */

#boxes {
    margin-top: 20px;
}

#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#boxes .box img{
    width: 90px;
    height: auto;
    transition: all 0.3s ease;
}

#boxes .box img:hover{
    transform: scale(1.1);
}


/* sidebar */
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .quote input,
aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}

/* Main-col */
article#main-col{
    float: left;
    width: 65%;
}

/* SERVICES */
ul#services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}


footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #e8491d;
}


/*  MEDIA QUERIES */
@media screen and (max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar {
        float: none;
        text-align: center;
        width: 100%;
    }

    header{
        padding-bottom: 20px;
    }

    #showcase h1{
        margin-top: 30px;
    }

    #newsletter button, .quote button{
        display: block;
        width: 100%;
    }

    #newsletter input[type="email"], 
    .quote input,
    .quote textarea {
        width: 100%;
        margin-bottom: 20px;
    }
}


